* {
    font-size: 1.2rem;
    background-color: #0f172A;
     color: #3B82F6;
     box-sizing:border-box ;
}

body {
    color: blueviolet;
    
}

h1 {
    text-decoration: underline;
}

#top a {
    background-color: whitesmoke;
    color: black;
    border: 2rem;
    width: 9rem;
    margin: 1rem;
    padding: 0.5rem;
    text-decoration: outset;
    text-align: auto;
}

#hr {
    background-color: black;
    height: 4px;
    border: none;
    border-radius: 10px;
}

.brand {
    text-decoration: underline;
}

#about {
    text-decoration: underline;
}

body a {
    background-color: whitesmoke;
}



nav li  {
    display:inline-block;
    margin-inline: 0.5rem;
}


li a {
    background-color: whitesmoke;
    color: black;
    text-decoration:double;
    width: auto;
   margin: 2rem;
   
}

li a:hover,
li a:focus {
    text-decoration: underline;
    background-color: #3B82F6;
}


#button {
    text-align: center;
    color: #3B82F6;
   margin: 3rem;
   padding: 3rem;
  background-color: black;
  width: 20rem;
 }